.headerText{
    font-family: "Kanit", sans-serif;
    font-style: normal;
}
.linksMenu:hover{
    text-decoration: underline;
}
.encabezado {
    z-index: 2;
    color: white;
    background: rgba(0, 0, 0, 0.7); 
    padding: 40px;
}

.headerText{
    margin-left: 6px;
}
.carousel {
    z-index: 1;
}

.menu{
    margin-left: auto;
}

.serviciosContainer{
    margin-bottom: 50px;
}
.row{
    justify-content: center;
}
.card-title{
    padding-top: 10px;
    padding-bottom: 6px;
}

#botonServicios{
    background-color: #027eb4;
    border-color: #027eb4;
    margin-top: 30px;
}
#botonServicios:hover{
    background-color: #01486c;
    border-color: #01486c;
}

.imagenNosotros{
    background-image: url("./img/nosotros.jpg");
    background-position-x: center;
    height: 50vh;
}

.imagenServicios{
    background-image: url("./img/servicios.jpg");
    background-position-x: center;
    height: 50vh;
}

.imagenPropuesta{
    background-image: url("./img/propuesta.png");
    background-position-x: center;
    background-size: cover;
    height: 50vh;
}
.imagenContacto{
    background-image: url("./img/contacto.jpg");
    background-position-x: center;
    height: 50vh;
}
.itemsLista{
    margin-left: 20px;
}
.footer{
    background-color: #027eb4
}

@media screen and (max-width: 720px){
    .tituloEncabezado{
        font-size: 1.3rem;
    }
    .textoEncabezado{
        display: none;
    }

}
@media screen and (max-width: 500px){
    .tituloEncabezado{
        font-size: 1.4em;
    }
    .encabezado{
        padding: 20px;
    }
}
@media screen and (max-width: 360px){
    .tituloEncabezado{
        font-size: 1.2rem;
    }
    .encabezado{
        padding: 15px;
    }
}